<div class="container">
  <div class="row">
    <div class="result">
      {{value}}
    </div>
  </div>
  <div class="row">
    <button (click)="clear()">ce</button>
    <button (click)="append(' + ')">+</button>
    <button (click)="result()" (keyup.enter)="result()">=</button>

  </div>

  <div class="row">
    <button (click)="append('1')">1</button>
    <button (click)="append('2')">2</button>
    <button (click)="append('3')">3</button>
  </div>
  <div class="row">
    <button (click)="append('4')">4</button>
    <button (click)="append('5')">5</button>
    <button (click)="append('6')">6</button>
  </div>
  <div class="row">
    <button (click)="append('7')">7</button>
    <button (click)="append('8')">8</button>
    <button (click)="append('9')">9</button>
  </div>
  <div class="history" *ngFor="let h of history">
    {{h}}
  </div>
</div>